---
import ErrorCapture from "../../components/ErrorCapture.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import C from "../../libs/config"
import { directusClientAuth } from "../../libs/directus";

import { readItems } from "@directus/sdk";
import { logger } from '@it-astro:logger';

let errors: any = {}

const currentYear = new Date().getFullYear();

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  
  try {
    const pinResponse = await directusClientAuth.request(readItems("lms_actor_access", {
      filter: {access_pin: String(data.get("pin"))},
      alias: {unmasked_token: "token"},
      fields: ["user_id.unmasked_token", "organization_id.id"]
    }))

    if(!pinResponse.length) throw new Error("Incorrect PIN.");

    const [{
      user_id: {unmasked_token: unmaskedToken},
      organization_id: {id: orgID}
    }] = pinResponse

    Astro.cookies.set(C.COOKIE_KEY_USER_ORG_ID, orgID, {path: "/"})
    Astro.cookies.set(C.COOKIE_KEY_USER_STATIC_TOKEN, unmaskedToken, {path: "/"})
    
    return Astro.redirect("/landing/content")
  } catch (error) {
    errors = (error as any)?.errors || [{ message: (error as any).message || error }];
    errors.forEach((error: any) => {logger.error(error.message)});
  }
}

---

<BaseLayout title="pin login">
  <div class="min-h-screen flex flex-col items-center justify-center p-4">

    <div class="text-center">
      <img alt="logo" src="/images/logo-black-700w.png" class="h-24 w-auto mx-auto" />
      <div class="text-2xl font-semibold uppercase tracking-wider my-4">training with impact</div>
      <div class="text-xl font-bold my-5">Welcome</div>
    </div>

    <div class="card w-full max-w-sm bg-base-100 shadow-xl">
      <div class="card-body">
        <form method="POST">
          <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M8 7a5 5 0 1 1 3.61 4.804l-1.903 1.903A1 1 0 0 1 9 14H8v1a1 1 0 0 1-1 1H6v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 0 1 .293-.707L8.196 8.39A5.002 5.002 0 0 1 8 7Zm5-3a.75.75 0 0 0 0 1.5A1.5 1.5 0 0 1 14.5 7 .75.75 0 0 0 16 7a3 3 0 0 0-3-3Z" clip-rule="evenodd" />
              </svg>
              <input
                class="grow"
                name="pin"
                type="password"
                placeholder="Enter your pin"
                required
                aria-required="true"
                aria-label="Enter your pin"
                autocomplete="off"
              />
            </label>
          </div>
          <div class="mb-4">
            <ErrorCapture errors={errors} />
          </div>
          <div>
            <button type="submit" class="btn btn-neutral w-full">Login</button>
          </div>
        </form>
      </div>
    </div>

    <footer class="text-center mt-10">
      <p>
        © {currentYear}
        <a href="https://www.v360energy.com" title="v360energy - xrtemis platform" target="_blank" rel="noopener noreferrer" class="link link-neutral">
          v360energy
        </a>
      </p>
      <p class="text-sm">v1.0.0</p>
    </footer>

  </div>
</BaseLayout>

<script>
  import {COOKIE_KEY_USER_ORG_ID, COOKIE_KEY_USER_STATIC_TOKEN} from "../../libs/config"

  document.cookie = `${COOKIE_KEY_USER_ORG_ID}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
  document.cookie = `${COOKIE_KEY_USER_STATIC_TOKEN}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
</script>
