---
import ContentStartButton from "../../../components/ContentStartButton.astro";
import ContentCard from "../../../components/ContentCard.astro";
import ContentEmpty from "../../../components/ContentEmpty.astro";
import ErrorCapture from "../../../components/ErrorCapture.astro";
import UserAgentBanner from "../../../components/UserAgentBanner.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

import C from "../../../libs/config"
import { directusClientNoAuth } from "../../../libs/directus";

import { readItem, readItems, readMe, withToken, type DirectusUser } from "@directus/sdk";
import { logger } from '@it-astro:logger';
import CopyrightFooter from "../../../components/CopyrightFooter.astro";

const ORG_ID = Astro.cookies.get(C.COOKIE_KEY_USER_ORG_ID)?.value
const TOKEN = Astro.cookies.get(C.COOKIE_KEY_USER_STATIC_TOKEN)?.value
if(!ORG_ID || !TOKEN) return Astro.redirect("/login/pin")

let errors: any = []
let userResponse: any = {}
let orgResponse: any = {}
let contentResponse: any = []

try{
    userResponse = await directusClientNoAuth.request<DirectusUser>(withToken(TOKEN, readMe()))
    orgResponse = await directusClientNoAuth.request(withToken(TOKEN, readItem("lms_organization", ORG_ID)))
    contentResponse = await directusClientNoAuth.request(withToken(TOKEN, readItems("lms_organization_content_assignment", {
        filter: {organization_id: ORG_ID},
        sort: ["content_id.content_title"],
        fields: ["content_id.*"]
    })))
    contentResponse = contentResponse.map((item:any) => item["content_id"] )
} catch (error) {
    errors = (error as any)?.errors || [{ message: (error as any).message || error }];
    errors.forEach((error: any) => {logger.error(error.message)});
}

---

<BaseLayout title="content">
    <div class="p-10">
        <ErrorCapture errors={errors}>
            <div class="flex justify-between w-full">
                <div class="mb-12">
                    <a aria-hidden="true" tabindex="-1" href="#browse-all-content-heading" class="no-underline">
                        <span class="inline-block">
                            <span class="prose block">
                                <h1 id="browse-all-content-heading">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline size-5 opacity-20 hover:opacity-60">
                                        <path d="M12.232 4.232a2.5 2.5 0 0 1 3.536 3.536l-1.225 1.224a.75.75 0 0 0 1.061 1.06l1.224-1.224a4 4 0 0 0-5.656-5.656l-3 3a4 4 0 0 0 .225 5.865.75.75 0 0 0 .977-1.138 2.5 2.5 0 0 1-.142-3.667l3-3Z" />
                                        <path d="M11.603 7.963a.75.75 0 0 0-.977 1.138 2.5 2.5 0 0 1 .142 3.667l-3 3a2.5 2.5 0 0 1-3.536-3.536l1.225-1.224a.75.75 0 0 0-1.061-1.06l-1.224 1.224a4 4 0 1 0 5.656 5.656l3-3a4 4 0 0 0-.225-5.865Z" />
                                    </svg>
                                    <span class="italic">Welcome back, <span style="color:#c2d500;">{userResponse.first_name} {userResponse.last_name}!</span></span>
                                </h1>
                            </span>
                            <span class="block">
                                <span class="ml-7">Session sponsored by <span class="font-extrabold italic">{orgResponse.organization_name}</span>.</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div>
                    <div class="tooltip tooltip-bottom" data-tip="logout">
                        <a href="/login/pin" class="btn btn-circle border-base-content" aria-label="logout">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <span class="hidden">Logout</span>
                        </a>
                    </div>
                </div>
            </div>

            {
                contentResponse.length
                ?
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    {contentResponse.map((item: any) => (
                        <ContentCard imageURL={item.content_image_url} title={item.content_title} description={item.content_description}>
                            <ContentStartButton contentLink={item.content_link} deepLink={item.content_deep_link} />
                            <a href={`/landing/content/details?${C.URL_QUERY_PARAM_ID}=${item.id}`} class="btn w-full">Details</a>
                        </ContentCard>
                    ))}
                </div>
                :
                <ContentEmpty />
            }
        </ErrorCapture>

        <CopyrightFooter />
    </div>
</BaseLayout>
{ contentResponse.length ? <UserAgentBanner /> : null }