---
const {contentLink, deepLink} = Astro.props

---

<a href="#" class="btn btn-neutral w-full" data-content-start-cta data-content-link={contentLink} data-deep-link={deepLink}>
    Start
</a>

<script>
    import {DIRECTUS_FILE_ASSET_URL_PREFIX, COOKIE_KEY_USER_ORG_ID, COOKIE_KEY_USER_STATIC_TOKEN} from "../libs/config"
    import { getCookie } from "../libs/utils";

    const ctas = document.querySelectorAll('[data-content-start-cta]');

    ctas.forEach((cta) => {
        cta.addEventListener('click', async (e: Event) => {
            e.preventDefault();
            const domain = window.location.origin;
            const targetElement = (e.target as HTMLAnchorElement)

            const contentLink = targetElement.dataset.contentLink || "#"
            const deepLink = targetElement.dataset.deepLink || "#"

            const iframe = document.createElement('iframe');
            iframe.style.display = 'none';
            targetElement.after(iframe);

            const org = getCookie(COOKIE_KEY_USER_ORG_ID)
            const token = getCookie(COOKIE_KEY_USER_STATIC_TOKEN)

            const userURL = `${domain}/api/module-access/${org}/${token}`
            const moduleURL =`${DIRECTUS_FILE_ASSET_URL_PREFIX}${contentLink}?download=`
            // deeplink template => default://com.v360.pipe?module_name=com.v360.electricaltestkit
            // NB must always include the module_name url param
            iframe.src = `${deepLink}&user_url=${userURL}&module_url=${moduleURL}`;
            iframe.remove()
        });
    });
</script>