---
const {contentLink, deepLink} = Astro.props

---

<a href="#" class="btn btn-neutral w-full" data-content-start-cta data-content-link={contentLink} data-deep-link={deepLink}>
    Start
</a>

<script>
    import {DIRECTUS_FILE_ASSET_URL_PREFIX, COOKIE_KEY_USER_STATIC_TOKEN} from "../libs/config"
    import { getCookie } from "../libs/utils";

    const ctas = document.querySelectorAll('[data-content-start-cta]');

    ctas.forEach((cta) => {
        cta.addEventListener('click', async (e: Event) => {
            e.preventDefault();
            const targetElement = (e.target as HTMLAnchorElement)

            const contentLink = targetElement.dataset.contentLink || "#"
            const deepLink = targetElement.dataset.deepLink || "#"

            const iframe = document.createElement('iframe');
            iframe.style.display = 'none';
            targetElement.after(iframe);

            try {
                const token = getCookie(COOKIE_KEY_USER_STATIC_TOKEN)
                iframe.src = `${deepLink}?user_token=${token}`;
                await new Promise((resolve) => setTimeout(resolve, 1500));
                throw new Error();
            } catch (err) {
                window.location.href = `${DIRECTUS_FILE_ASSET_URL_PREFIX}${contentLink}?download=`;
            } finally {
                targetElement.removeChild(iframe);
            }
        });
    });
</script>